* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    @font-face {
        font-family: Roboto-Bold;
        src: url(../font/Roboto-Bold.ttf);
    }
    @font-face {
        font-family: Roboto-Thin;
        src: url(../font/Roboto-Thin.ttf);
    }
    @font-face {
        font-family: Roboto-Italic;
        src: url(../font/Roboto-Italic.ttf);
    }

    :root {
        --color_dark: #565C73;
        --color_light: background: #CDD4DE;
    }

    .font_background {
        background-color: #45734d85;
        color: white;
    }

    h1 {
        font: 10.3125rem Roboto-Bold;
        opacity: 0.6;
        padding-bottom: 1.75rem;
    }

    h2 {
        font-size: 2.125rem;
        font-family: Roboto-Bold;
        padding-bottom: 0.875rem;
    }

    a,
    p,
    h1,
    h2,
    h3 {
        color: whitesmoke;
    }


p {
    font-size: 0.875rem;
    font-family: Roboto-Thin;
    padding-bottom: 8.8125rem;
    text-s: 0 0 1px black;
}

a {
    text-decoration: none;
    font: 0.75rem Roboto-Thin;
    border: 1px solid white;
    border-radius: 0.3rem;
    padding: 0.625rem;
}

    h3 {
        font-family: Roboto-Italic;
        color: black;
        font-size: 0.9rem;
        padding-bottom: 13.3125rem;
    }

    .background {
        background-image: url(../img/forest.jpg);
        text-align: center;
        object-fit: cover;
        height: 100vh;
        background-position: center;
    }